@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
#todate{
    display: none;
    border-bottom: 2px solid blue;
    width: 15%;
}
#top{
    background-color: rgb(6, 32, 5);
    border-bottom: 2px solid rgb(179, 177, 177);
    box-shadow: 0 3px 3px gray   ;
    font-family:'Roboto''Ubuntu';
}
body{
    background-color: rgb(213, 213, 214);

}
input{
    display: flex;
    width: 50%;
}
